<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMB</title>
    <link rel="stylesheet" href="/static/styles_1.css">
</head>
<body>
    <header>
        <h1>OMB</h1>
        <nav>
            <ul>
                <li><a href="id.html">О нас</a></li>
                <li><a href="btc.html">Продажа (BTC)</a></li>
                <li><a href="btb.html">Продажа (BTB)</a></li>
                <li><a href="cart.html">Корзина</a></li>
                <li><a href="account.html">Личный кабинет</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Добро пожаловать на сайт OMB!</p>
    </main>
    <script src="/static/script_1.js"></script>
</body>
</html>
