<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
<header>
    <h1>OMB</h1>
    <nav>
        <ul>

            <li><a href="/about">О нас</a></li>
            <li><a href="/btc">Продажа (BTC)</a></li>
            <li><a href="/btb">Продажа (BTB)</a></li>
            <li><a href="/cart">Корзина (<span id="cart-count">0</span>)</a></li>
            <li><a href="/account">Личный кабинет</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Вход</h2>
    <form method="POST" class="registration-form">
        <label>Логин:<br><input type="text" name="username" required></label><br><br>
        <label>Пароль:<br><input type="password" name="password" required></label><br><br>
        <button type="submit" class="btn-buy">Войти</button>
    </form>

    <p style="margin-top: 20px;">Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
</main>

<script src="/static/script.js"></script>
</body>
</html>