<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
<header>
    <h1>OMB</h1>
    <nav>
        <ul>

            <li><a href="/about">О нас</a></li>
            <li><a href="/btc">Продажа (BTC)</a></li>
            <li><a href="/btb">Продажа (BTB)</a></li>
            <li><a href="/cart">Корзина (<span id="cart-count">0</span>)</a></li>
            <li><a href="/account">Личный кабинет</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Регистрация</h2>
    <form method="POST" class="registration-form">
        <label>ФИО:<br><input type="text" name="full_name" required></label><br><br>
        <label>Телефон:<br><input type="number" name="phone" required></label><br><br>
        <label>Адрес:<br><input type="text" name="address" required></label><br><br>
        <label>Логин:<br><input type="text" name="username" required></label><br><br>
        <label>Пароль:<br><input type="password" name="password" required></label><br><br>
        <button type="submit" class="btn-buy">Зарегистрироваться</button>
    </form>
</main>

<script src="/static/script.js"></script>
</body>
</html>